body {
    background-color: lightblue;

}

.container {
    width: 600px;
    padding: 20px;
    margin: auto;
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
}


.card 
{
  max-width: 150px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-left: 25px;
  

}
.price
{
    color:gray;
    font-size: 20px;

}
.card button 
{
    border: none;
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;

}
.card img 
{
    width: 320px;
    height: 120px;
}

.basket 
{
    background-color: aqua;
    width: 100px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    
}

